In [15]:
name = "phithon"

print(name)

phithon

In [16]:
phone_number = 45623498

print(phone_number)

45623498

In [17]:
age = 20 
height = 5.6
name = "Akash"
is_passed = True

print(type(age), type(height), type(name), type(is_passed))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [18]:
name = input("What is your name?")
print(name)

24

In [20]:
age = input("Age?") # string hishebe input nise

age = int(age) # string k amar int  a con

print( age, type(age))

20 <class 'int'>

In [21]:
height = float(input("Height ?")) # string

print(height, type(height))

height = height + 0.2

print(height)

20.6 <class 'float'>
20.8

In [22]:
x = 10 ; y = 3

sum = x + y # summation
sub = x - y # subtraction
mult = x * y # multiplication

div = round(x/y , 2) # division

rem = x % y # remainder

print(sum, sub, mult, div, rem)

13 7 30 3.33 1

In [26]:
x = 10 ; y = 3

greater_than = x > y

greater_than_equal = (10 >= 10)

print(greater_than , greater_than_equal)

less_than = x < y

less_than_equal = (10 <= 10)

print(less_than , less_than_equal)

equal = x==y

print(equal)

not_equal = x != y
print(not_equal)

True True
False True
False
True

In [27]:
x = 10 ; y = 5 ; z = 15

result = (x > y) and (x > z)

print(result)

False

In [28]:
x = 10 ; y = 5 ; z = 15

result = (x > y) or (x > z)

print(result)

True

Precedence and Associativity

In [29]:
eq = (10 + 10)/2 - 5*2
eq

0.0

In [30]:
x = 5 
y = "5"
print(type(x), type(y))

<class 'int'> <class 'str'>

In [31]:
print(7//2)

3

In [32]:
print(7/2)

3.5

In [ ]:
num = float(input())

print(type(num))

<class 'float'>

In [1]:
# --- DEMO: Control Flow --- 
for i in range(5):
   if i == 0:
      label = "zero"
   elif i % 2 == 0:
      label = "even"
   else:
      label = "odd"
   print(i, "", label)

0  zero
1  odd
2  even
3  odd
4  even

F.Digits Summation

In [ ]:
# 
inp = input()

numbers = inp.split()

x = int(numbers[0])  # index[0]

y = int(numbers[1])  # index[1]

last_digit_of_x = x % 10
last_digit_of_y = y % 10

sum = last_digit_of_x + last_digit_of_y

print(sum)

5

In [3]:
raining = False
Muddy = True

if raining == True:
   print("Rain coat is necessary")
   if Muddy == True:
      print("Sandal is necessary")
   else:
      print("Bring Sneakers")
else:
   print("Go without a rain coat ")
   print("This is a sunny day")

Go without a rain coat
This is a sunny day

In [4]:
taka = int(input())

if taka > 500:
   print("ghurte jabo")
elif taka > 400:
   print("Bashai order korbo")
elif taka > 300:
   print("Food court e jabo")
else:
   print("Taka ta save korbo")

Food court e jabo

In [5]:
taka = 1000
raining = False

## 500 er behi and jodi brishti na hoi 

if (taka > 500) and (raining == False):
   print("ghurte Jabo")
else:
   print("Taka ta save korbo")

ghurte Jabo

In [6]:
for i in range(1, 11, 2):
   print(i, "Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [8]:
# nested for for loop 
for i in range(1, 10):
   for j in range(1, 5):
      print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4
5 1
5 2
5 3
5 4
6 1
6 2
6 3
6 4
7 1
7 2
7 3
7 4
8 1
8 2
8 3
8 4
9 1
9 2
9 3
9 4

In [13]:
count = int(input("Enter a number"))

while count < 10 :
   
   print(count, "hellow world")
   count= count + 1

print(count)

3 hellow world
4 hellow world
5 hellow world
6 hellow world
7 hellow world
8 hellow world
9 hellow world
10